.top{
    position: absolute;
    left: 220px;
    right: 10px;
    top: 10px;
    bottom: 5px;
    height: 80px;
    /*background-color: #eee7d4;*/
    /*border-radius: 15px 15px;*/
    /*border:2px solid #decdb8;*/
}
.icon{
    top:10px;
    left:10px;
    width:200px;
    height: 70px;
}
.aside{
    position: absolute;
    width: 200px;
    top:90px;
    bottom: 10px;
    left: 10px;
    background-color: #3b856a;
    border-radius: 15px 15px;
    border: 2px solid #234d3e;
}
.main{
    position: absolute;
    top:90px;
    left: 220px;
    right: 10px;
    bottom: 10px;
    overflow-y: auto;
    overflow-x: auto;
    background-color: rgba(194, 220, 172, 0.8);
    padding: 15px;
    border-radius: 15px 15px;
    border: 2px solid rgba(172, 224, 138, 0.96);
}
.input{
    width:130px;
    border: 2px solid #6a6c0f;
    text-align: center;
    line-height: 35px;
    height: 35px;
    border-radius: 6px;
    display: inline-block;
    font-weight: bold;
    font-size:16px ;
    font-family:cursive;
    color:#6a6c0f;
}
.input:hover {
    filter: brightness(1.2);
    /*color:  #206c0f;*/
    font-weight: bold;

}
.btn1 {
    width: 55px;
    border: 2px solid #6a6c0f;
    text-align: center;
    line-height: 30px;
    border-radius: 7px;
    display: inline-block;
    font-family:cursive;
    font-weight: bold;
    font-size:16px;
    background-color: #acb787;
    color:#5b5e0b;
}
.btn1:hover {
    /*filter: brightness(2.2);*/
    background-color: #cdde9e;
    color:#5b5e0b;
}
.btn {
    width: 55px;
    border: 2px solid #52a640;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
    display: inline-block;
    margin-left:10px;
    background-color: #adeea1;
}
/*.btn:hover {*/
/*    !*filter: brightness(1.2);*!*/
/*    color: #6a6c0f;*/
/*}*/
.tag{
    margin-top: 30px;
    line-height: 40px;
    width:150px;
    margin-left: 40px;
    display: inline-block;
    font-family:cursive;
    font-weight: bold;
    font-size:22px;
    background: linear-gradient(90deg, #9cb46a 0%, rgba(28, 97, 234, 0) 100%);
    color: #111111;
}
.search{
    margin-top: 30px;
    height: 50px;
    width:800px;
    margin-left: 50px;
    display: inline-block;
}
.table{
    width:1230px;
    margin-left: 40px;
    margin-top: 20px;
}
.el-loading-spinner .path{
    stroke: #005432;
}
.el-loading-spinner .el-loading-text{
    color: #005432;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
}
