.top{
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 5px;
    height: 80px;
    border-radius: 15px 15px 0px 0px;
    border:1px solid #5d4e2a;
    box-shadow: darkgrey 10px 10px 30px 5px;
    background: linear-gradient(90deg, #dae3c0 0%, rgba(28, 97, 234, 0) 100%)
}
.aside{
    position: absolute;
    width: 200px;
    top:80px;
    bottom: 10px;
    left: 10px;
    background-color: #5d4e2a;
    /*background-color: #3b856a;*/
    border-radius: 0px 0px 0px 15px;
    border: 2px solid #6e3239;
    box-shadow: darkgrey 10px 10px 30px 5px
}
.main{
    position: absolute;
    top:80px;
    left: 210px;
    right: 10px;
    bottom: 10px;
    overflow-y: auto;
    overflow-x: auto;
    padding: 15px;
    border-radius: 0px 0px 15px 0px;
    border: 1px solid #5d4e2a;
    box-shadow: darkgrey 10px 10px 30px 5px;

}
.input{
    width:130px;
    border: 2px solid #6a6c0f;
    text-align: center;
    line-height: 35px;
    height: 35px;
    border-radius: 6px;
    display: inline-block;
    font-weight: bold;
    font-size:16px ;
    font-family:cursive;
    color:#6a6c0f;
}
.input:hover {
    filter: brightness(1.2);
    /*color:  #206c0f;*/
    font-weight: bold;

}
.btn1 {
    width: 55px;
    border: 2px solid #6a6c0f;
    text-align: center;
    line-height: 30px;
    border-radius: 7px;
    display: inline-block;
    font-family:cursive;
    font-weight: bold;
    font-size:16px;
    background-color: #acb787;
    color:#5b5e0b;
}
.btn1:hover {
    /*filter: brightness(2.2);*/
    background-color: #cdde9e;
    color:#5b5e0b;
}
.btn {
    width: 55px;
    border: 2px solid #52a640;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
    display: inline-block;
    margin-left:10px;
    background-color: #adeea1;
}
/*.btn:hover {*/
/*    !*filter: brightness(1.2);*!*/
/*    color: #6a6c0f;*/
/*}*/
.tag{
    margin-top: 30px;
    line-height: 40px;
    width:150px;
    margin-left: 40px;
    display: inline-block;
    font-family:cursive;
    font-weight: bold;
    font-size:22px;
    /*background: linear-gradient(90deg, #9cb46a 0%, rgba(28, 97, 234, 0) 100%);*/
    color: #111111;
}
.search{
    margin-top: 30px;
    height: 50px;
    width:800px;
    margin-left: 50px;
    display: inline-block;
}
.table{
    width:1240px;
    margin-left: 15px;
    margin-top: 20px;
}
.el-loading-spinner .path{
    stroke: #005432;
}
.el-loading-spinner .el-loading-text{
    color: #005432;
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
}
